[package]
name = "heic-converter"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
tempfile.workspace = true
tracing.workspace = true
